@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './components/buttons';
@import './components/arrow-up';
@import './components/links';
@import './components/header';
@import './components/hero';
@import './components/title-section';
@import './components/advantages-section';
@import './components/traditions-section';
@import './components/chefs-section';
@import './components/formats-section';
@import './components/contact-section';
@import './components/footer';
@import './components/modal';
@import './components/forms';

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}