:root {
    --primary-color: #819b57;
    --primary-color-dark: #31261a;
    --primary-color-light: #faf4ea;
    --accent-color: #465929;
    --secondary-color-dark: #a18268;
    --secondary-color-light: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;