.advantages-section {
    padding: 16px 0;

    @media screen and (min-width: $bp-tablet) {
        background-color: var(--primary-color);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--secondary-color-light);
        border-radius: 24px;
        padding: 24px 40px;
        
        @media screen and (min-width: $bp-tablet) {
            justify-content: space-between;
            flex-direction: row;
            gap: 40px;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
        }
    }
      
    &__item {
        font-size: 14px;
        font-weight: 300;
       
        @media screen and (min-width: $bp-tablet) {
            font-size: 20px;
            color: var(--primary-color-light);
        }
    }
}
  
