.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        gap: 32px;
    }
      
    &__title {
        margin-bottom: 16px;
    }
      
    &__text {
        color: var(--accent-color);
    }
      
    &__map {
        flex-shrink: 0;
        border-radius: 16px;
        border: none;
    }
}