.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }
      
    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;
    }
      
    &__menu{
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            gap: 64px;
        }
    }

    &__button {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
    }

    &__burger {
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        padding: 0;
        fill: var(--primary-color-light);
        cursor: pointer;
        
        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
  }
  
  
