.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }
      
    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;
    }
      
    &__menu{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 64px;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__button {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: 1200px) {
            display: block;
        }
    }
  }
  
  
