.contact-section {
    padding-bottom: 96px;
}
  
.contact-container {
    display: flex;
    gap: 32px;
}
  
.contact-title {
    margin-bottom: 16px;
}
  
.contact-text {
    color: var(--accent-color);
}
  
.contact-map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
}