.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
  }
  
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
  
.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}
  
.header-menu{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 64px;
}