.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  
.hero-title {
    color: var(--primary-color-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}
  
.hero-title .accent {
    color: var(--primary-color);
}