.traditions-section {
    padding-top: 96px;
}
  
.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
  
.traditions-content {
    max-width: 708px;
}
  
.traditions-title {
    margin-bottom: 42px;
}
  
.traditions-text {
    margin-bottom: 42px;
}
  
.traditions-text .brand {
    color: var(--primary-color);
    font-weight: 600;
}
  
.traditions-text .uppercase {
    text-transform: uppercase;
}
  
.traditions-text.limited {
    max-width: 340px;
    margin-bottom: 0;
}